<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSCApp"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminLostFoundActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminHomeFragment"
            android:exported="false" />
        <activity
            android:name=".admin.AdminZoomConnectActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdmineSSCentialsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminReSSCueActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminCALagapayActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminProjectAgapayActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminServiceReportsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminUserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactFragment"
            android:exported="false" />
        <activity
            android:name=".OrgStructureFragment"
            android:exported="false" />
        <activity
            android:name=".CurrentOfficersFragment"
            android:exported="false" />
        <activity
            android:name=".activities.ZoomConnect"
            android:exported="false" />
        <activity
            android:name=".activities.reSSCue"
            android:exported="false" />
        <activity
            android:name=".activities.eSSCentials"
            android:exported="false" />
        <activity
            android:name=".activities.CALagapay"
            android:exported="false" />
        <activity
            android:name=".ProjectAgapayActivity"
            android:exported="false" />
        <activity
            android:name=".quickaccesscard.LostAndFoundActivity"
            android:exported="false" />
        <activity
            android:name=".quickaccesscard.EventTimelineActivity"
            android:exported="false" />
        <activity
            android:name=".quickaccesscard.MembershipPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".OfficersFragment"
            android:exported="false" />
        <activity
            android:name=".EventsFragment"
            android:exported="false" />
        <activity
            android:name=".StoreFragment"
            android:exported="false" />
        <activity
            android:name=".UpdatesFragment"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>